.secao_inscrever{
    padding:20px;
    display:flex;
    justify-content: center;
}


.texto_politicas{
    color:#4442d7;
}

.titulo_inscrever{
    color:#444444;
}

.botao_inscrever{
    padding:0 16px;
    color:#4300d2;
    border: 1px solid #4300d2;
    height:36px;
    border-radius: 24px;
    background-color: white;
    cursor:pointer;
}
.botao_inscrever:hover{
    background-color: #eeeeee;
}

.input_inscrever{
    height:36px;
    padding-left:16px;
    width:380px;
    border-radius: 7px;
    border:1px solid #444444;
}

.imagem_email{
    width:86px;
    height:104px;
}



.container_inscrever{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    width:1024px;
    border-bottom:1px solid #eeeeee;
    padding-bottom:20px;
}

.container_input_botao{
    display:flex;
    align-items: center;
    gap:50px;
}

.texto_secao_inscrever{
    display:flex;
    flex-direction: column;
    gap:15px;
}

.texto_informacoes{
    font-size:12px;
}