.secao_checkout{
    background-color: #eeeeee;
    display:flex;
    justify-content: center;
    gap:20px;
}

.card_quem_viaja{
    width:846px;
    border:1px solid #d6d4d4;
    border-radius: 6px;
    padding:20px;
    background-color: #ffffff;
}

.titulo_quem_viaja{
    font-size:24px;
    font-weight: 400;
}

.container_label_input{
    display:flex;
    flex-direction: column;
    padding-top:20px;
    gap:7px;
    
}

.container_label_input label{
    font-size:12px;
}

.input_nome{
    width:530px;
    padding:0px 40px 0px 16px;
    height:32px;
    border-radius: 6px;
    border:1px solid #d6d4d4;
}

.input_numero{
    width:288px;
    padding:0px 40px 0px 16px;
    height:34px;
    border-radius: 6px;
    border:1px solid #d6d4d4;
}

.select_cpf{
    width:160px;
    padding:0 28px 0 12px;
    height:36px;
    border-radius: 6px;
    border:1px solid #d6d4d4;
}

.container_tipo_documento_numero{
    display:flex;
    gap:24px;
}

.container_sexo{
    display:flex;
    flex-direction: column;
}

.container_input_genero_feminino{
    display:flex;
    align-items: center;
    gap:10px;
    padding:10px;
    border:1px solid #d6d4d4;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size:12px;
}

.container_input_genero_masculino{
    display:flex;
    align-items: center;
    gap:10px;
    padding:10px;
    border:1px solid #d6d4d4;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size:12px;
}


.container_masculino_feminino{
    display:flex;
}

.label_container{
    display:flex;
    flex-direction: column;
    gap:10px;
    padding-top:20px;
}

.select_dia_mes_ano{
    width:160px;
    padding:0 28px 0 12px;
    height:36px;
    border-radius: 6px;
    border:1px solid #d6d4d4;
}

.container_selects{
    display:flex;
    gap:24px;
}

.label_container label{
    font-size:12px;
}

.container_label_input label{
    font-size:12px;
}

.texto_adulto{
    padding-top:20px;
    color:#323439;
    font-weight: bold;
}

.titulo_completar_dados{
    font-weight: 100;
    font-size:24px;
}

.container_voltar_titulo_dados{
    display:flex;
    flex-direction: column;
    gap:8px;
    padding-bottom:20px;
    padding-top:20px;

}

.container_imagem_texto_bagagem{
    display:flex;
    align-items: center;
    gap:20px;
}

.imagem_bagagem{
    width:36px;
    height:36px;
}

.container_botao_adicionar_bagagem_dropdown{
    display:flex;
    align-items: center;
    gap:15px;
}

.card_inclui_bagagem{
    display:flex;
    flex-direction: column;
    padding:20px;
    border:1px solid #d6d4d4;
    background-color: #ffffff;
    border-radius: 6px;
    width:846px;
}

.icone_drop_down{
    width:16px;
    height:16px;
    cursor:pointer;
}

.container_pagamento{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.botao_adicionar_bagagem{
    height:36px;
    border:1px solid #4300d2;
    color:#4300d2;
    padding:0 16px;
    border-radius: 24px;
    background-color: #ffffff;
    cursor:pointer;
}

.botao_adicionar_bagagem:hover{
    background-color:#ebe5f5;
}

.container_texto_imagem_botoes{
    display:flex;
    justify-content: space-between;
}

.icone_bagagem{
    width:24px;
    height:24px;
}

.container_mostrar_bagagem_aberto{
    padding:0px 80px;
    display:flex;
    gap:20px;
}

.container_imagem_bagagem_texto{
    display:flex;
    align-items: center;
    font-size:14px;
}

.texto_itens{
    display:flex;
    flex-direction: column;
    gap:20px;
    padding:12px;
    margin:10px 10px 0;
    width:300px;
}

.container_lista_bagagens{
    display:flex;
    flex-direction: column;
    gap:15px;
}

.titulo_ida{
    font-size:20px;
    color:#72777f;
}

.paragrafo_inclui_verde{
    color:#028574;
}

.paragrafo_descricao_inclui{
    color:#565A60;
}

.botao_adicionar_bagagem_off{
    display:none;
}

.card_transfer{
    background-color: #ffffff;
    padding:20px;
    border-radius: 6px;
    border:1px solid #d6d4d4;
    width:846px;
}

.container_imagem_texto_van{
    display:flex;
    align-items: center ;
    gap:10px;
    justify-content: space-between;
}

.texto_transfer{
    display:flex;
    flex-direction: column;
    gap:15px;
    width:580px;
}

.container_texto_span{
    display:flex;
    gap:40px;
    align-items: center;
}

.span_melhor_preco{
    color:#028574;
    background-color: #c9f0ed;
    font-size:12px;
    padding:8px;
    border-radius: 6px;
    font-weight: bold;
}

.icone_van{
    width:32px;
    height:36px;
}

.texto_viagem{
    font-size:12px;
    color:#323439;
}

.botao_preco{
    height:36px;
    border:1px solid #4300d2;
    color:#4300d2;
    background-color: #ffffff;
    padding:0 16px;
    border-radius: 24px;
    cursor:pointer;
}

.botao_preco:hover{
    background-color:#ebe5f5;
}

.imagem_bing{
    width:64px;
    height:64px;
}

.container_imagem_texto_cuide{
    display:flex;
    
    align-items: center;
    justify-content: space-between;
}

.card_cuide{
    background-color: #ffffff;
    padding:20px;
    border-radius: 6px;
    border:1px solid #d6d4d4;
    width:846px;
}

.texto_cuide{
    font-size:16px;
    color:#323439;
}

.texto_descricao_cuide{
    font-size:12px;

}

.container_texto_cuide{
    display:flex;
    flex-direction: column;
    gap:10px;
}

.container_imagem_bing_texto_cuide{
    display:flex;
    align-items: center;
    gap:20px;
}

.card_seguro_cuide{
    width:258px;
    border:1px solid #d6d4d4;
    border-radius: 6px;
    height:407px;
    
}

.container_titulo_card_seguro{
    background: #f2f4f5;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:14px;
    width:100%;
    height:56px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    flex-direction: column;
}

.titulo_card_seguro{
    font-weight: bold;
}

.datas_card_seguro{
    font-size:14px;
}

.primeira_secao_card_seguro_cuide{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.segunda_secao_card_seguro_cuide{
    display:flex;
    flex-direction: column;
    margin:12px 0px;
    padding:16px;
}

.descricao_seguro{
    font-size:14px;
    color:#72777f;
}

.botao_selecionar_seguro{
    height:36px;
    color:#4300d2;
    border:1px solid #4300d2;
    padding: 0 16px;
    border-radius: 24px;
    background-color: #ffffff;
    width:225px;
    cursor:pointer;

}

.botao_selecionar_seguro:hover{
    background-color: #ebe5f5;
}



.titulo_segunda_secao_card_seguro{
    font-size:14px;
    color:#323439;
}

.container_recomendacao_seguro{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #cb4032;
    height:40px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    color:white;
    gap:10px;
    font-size:14px;
}

.icone_nao_recomendado{
    width:16px;
    height:16px;
}

.paragrafo_preco{
    font-size:32px;
    
    font-weight: bold;
}

.container_preco_card_seguro{
    padding-top:24px;
    padding-bottom:24px;
    display:flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
    height:86px;
    justify-content: center;
}

.container_cards_seguro_cuide{
    display:flex;
    gap:10px;
    padding-top:20px;   
    justify-content: center;
}

.icone_verificado{
    width:16px;
    height:16px;
}

.container_imagem_verificado_paragrafo{
    display: flex;
    align-items: center;
    gap:10px;
}

.segunda_secao_card_seguro_cuide_prata{
    display:flex;
    flex-direction: column;
    margin:12px 0px;
    padding:16px;
    gap:5px;
}

.container_ver_mais_politica{
    margin-top:-2px;
    display:flex;
    color:#4300d2;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.container_ver_mais{
    border-right:1px solid #d6d4d4;
    padding-right:15px;
    cursor:pointer;
}

.container_ver_mais:hover{
    color:#270570;
}



.container_politicas{
    cursor:pointer;
    padding-left:15px;
}

.container_politicas:hover{
    color:#270570;
}

.titulo_ofertas{
    font-size:14px;
    color:#323439;
    font-weight: bold;
}

.paragrafo_email_ofertas{
    font-size:12px;
    color:#323439;
    width:417px;
}
.span_politicas{
    font-size:12px;
    color:#4300d2;
    cursor:pointer;
}

.span_politicas:hover{
    color:#270570;
}

.card_email{
    padding:20px;
    background-color: #ffffff;
    width:846px;
    border-radius: 6px;
    border:1px solid #d6d4d4;
}

.titulo_card_email{
    font-weight: 100;
}

.container_titulo_card_email_paragrafo{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.paragrafo_card_email{
    font-size:14px;
}

.container_input_melhores_ofertas{
    display:flex;
    gap:10px;   
    padding-top:20px;
}


.input_email{
    padding:0px 40px 0px 16px;
    height:32px;
    border-radius: 6px;
    border:1px solid #d6d4d4;
    width:395px;
}

.select_celular{
    width:160px;
    padding:0 28px 0 12px;
    height:36px;
    border-radius: 6px;
    border:1px solid #d6d4d4;
}

.input_area_celular{
    padding:0px 40px 0px 16px;
    height:32px;
    border-radius: 6px;
    border:1px solid #d6d4d4;
    width:87px;
}

.container_area_numero{
    display:flex;
    gap:24px;
}

.container_imagem_incluir_telefone{
    display:flex;
    gap:10px;
    color:#4300d2;
    font-size:14px;
    padding-top:10px;
    cursor:pointer;
    justify-content: space-between;
    width:478px;
}

.container_input_alerta_detalhes{
    display:flex;
    gap:10px;
    padding-top:20px;
}

.paragrafo_alerta_detalhes{
    width:375px;
    font-size:12px;
    color:#323439;
}

.card_numero{
    width:846px;
    border:1px solid #d6d4d4;
    border-radius: 6px;
    padding:20px;
    background-color: #ffffff;

}

.container_imagem_lixeira_remover{
    display:flex;
    gap:5px;
}

.container_imagem_lixeira_remover:hover{
    color:#270570;
}

.container_imagem_mais_incluir{
    display:flex;
    gap:5px;
}

.container_imagem_mais_incluir:hover{
    color:#270570;
}

.imagem_lixeira{
    width:16px;
    height:16px;
}

.imagem_mais{
    width:16px;
    height: 16px;
}

.container_imagem_lixeira_remover_off{
    display:none;
}

.container_imagem_mais_incluir_off{
    display:none;
}

.container_imagem_incluir_telefone_off{
    display:flex;
    gap:10px;
    color:#4300d2;
    font-size:14px;
    padding-top:10px;
    cursor:pointer;
    justify-content: end;
    width:478px;
}

.card_como_quer_pagar{
    width:846px;
    border:1px solid #d6d4d4;
    border-radius: 6px;
    padding:20px;
    background-color: #ffffff;
}

.container_meio_de_pagamento{
    display:flex;
    align-items: center;
    gap:15px;
    padding:14px 0 12px;
    border-bottom:1px solid #d6d4d4;
}

.paragrafo_meio_de_pagamento{
    font-size:12px;
}

.card_meios_de_pagamento{
    border:1px solid #d6d4d4;
    padding:0 16px;
    border-radius: 6px;
}

.botao_ver_todos{
    display:flex;
    align-items: center;
    background-color: #ffffff;
    border:none;
    font-size:14px;
    color:#4300d2;
    padding-top:10px;
    gap:10px;
    font-weight: bold;
    cursor:pointer;
}

.botao_ver_todos:hover{
    color:#270570;
}

.titulo_como_quer_pagar{
    font-weight: 100;
}

.texto_mais_usados{
    padding-top:10px;
    padding-bottom:10px;
    font-size:14px;
}

.span_cupom{
    font-size:14px;
    color:#4300d2;
    cursor:pointer;
}

.span_cupom:hover{
    color:#270570;
}

.paragrafo_cupom{
    font-size:14px;
    color:#565A60;
}

.container_cupom{
    display:flex;
    gap:10px;
    padding-top:25px;
    padding-bottom:25px;
}

.titulo_nota_fiscal{
    font-weight: 100;
}

.card_nota_fiscal{
    width:846px;
    border:1px solid #d6d4d4;
    border-radius: 6px;
    padding:20px;
    background-color: #ffffff;
}

.input_cpf{
    width:288px;
    padding:0px 40px 0px 16px;
    height:32px;
    border-radius: 6px;
    border:1px solid #d6d4d4;
}

.input_cep{
    width:288px;
    padding:0px 40px 0px 16px;
    height:32px;
    border-radius: 6px;
    border:1px solid #d6d4d4;
}

.container_cpf_cep{
    display:flex;
    gap:24px;
}

.container_input_contribuinte_estrangeiro{
    display:flex;
    align-items: center;
    gap:15px;
    padding-top:20px;
}

.container_situacao_fiscal{
    display:flex;
    flex-direction: column;
    padding-top:20px;
    gap:10px;
}

.select_situacao_fiscal{
    width:160px;
    padding:0 28px 0 12px;
    height:36px;
    border-radius: 6px;
    border:1px solid #d6d4d4;
}

.label_situacao_fiscal{
    font-size:14px;
}

.card_verificar_dados{
    width:846px;
    border:1px solid #d6d4d4;
    border-radius: 6px;
    padding:20px;
    background-color: #ffffff;
}

.container_imagem_calendario_data{
    display:flex;
    align-items: center;
    gap:15px;
    padding-top:20px;
}

.container_imagem_quem_viaja{
    display:flex;
    align-items: center;
    gap:15px;
}

.titulo_card_verificar_dados{
    font-weight: 100;
}

.container_ida_volta{
    padding-top:20px;
    padding-bottom:20px;
    font-size:14px;
}

.container_nome_sobrenome{
    padding-top:20px;
    font-size:14px;
}

.icone_calendario{
    width:20px;
    height:20px;
}

.icone_usuario{
    width:20px;
    height:20px;
}

.span_politicas_aceito{
    font-size:14px;
    color:#4300d2;
    cursor:pointer;
}

.span_politicas_aceito:hover{
    color:#270570;
}

.paragrafo_li_e_aceito{
    font-size:14px;
    color:#323439;
}

.container_input_li_e_aceito_condicoes{
    display:flex;
    gap:10px;
    padding-left:20px;
    flex-direction: column;
    
}

.container_imagem_input_texto{
    display:flex;
    gap:15px;
    
}

.botao_comprar_laranja{
    color:white;
    background-color: #e61a06;
    height:48px;
    padding:0 20px;
    border-radius: 24px;
    border:none;
    font-weight: bold;
    cursor:pointer;
}

.botao_comprar_laranja:hover{
    background-color:#8a1004;
}

.container_compre_e_ganhe_cupom{
    display:flex;
    padding:20px;
    gap:20px;
    border-radius: 6px;
    background-color: #fffbd8;
    height:40px;
    margin-bottom:80px;
    align-items: center;
}

.imagem_presente{
    width:60px;
    height:60px;
}

.paragrafo_presente{
    color:#323439;
}

.icone_passaporte{
    width:33px;
    height:33px;
}

.container_passaporte_skypass{
    display:flex;
    padding:20px;
    border:1px solid #d6d4d4;
    background-color: #ffffff;
    border-radius: 6px;
    margin-top:40px;
    gap:20px;
}

.container_texto_acumular_seta{
    gap:10px;
    display:flex;
}

.container_texto_passaporte_pontos{
    display:flex;
    flex-direction: column;
    gap:10px;
}

.texto_pontos_passaporte{
    color:#FF5C63;
}

.texto_pontos_ganhos{
    color:#FF5C63;
    font-size:12px;
}

.container_detalhes_pagamento{
    margin-top:47px;
    display:flex;
    flex-direction: column;
    width:410px;
}

.titulo_detalhe_pagamento{
    font-size:24px;
    color:#323439;
}

.icone_seta_direita{
    width:12px;
    height:12px;
}

.card_voo{
    display:flex;
    padding:20px;
    border:1px solid #d6d4d4;
    background-color: #ffffff;
    border-radius: 6px;
    margin-top:15px;
    flex-direction: column;
}

.container_voo_preco{
    display:flex;
    justify-content: space-between;
    font-size:14px;
    color:#323439;
}

.container_voo_preco_impostos{
    display:flex;
    flex-direction: column;
    gap:25px;
    padding-bottom:20px;
}

.container_total{
    font-size:14px;
    display:flex;
    justify-content: space-between;
    padding-top:20px;
    border-top:1px solid #d6d4d4;
}

.span_preco_total{
    font-size:24px;
    font-weight: bold;
}

.container_titulo_detalhe_da_compra{
    padding-top:20px;
    padding-bottom:20px;
    font-size:24px;
    color:#323439;
}

.card_detalhe_da_compra{
    display:flex;
    padding:20px;
    border:1px solid #d6d4d4;
    background-color: #ffffff;
    border-radius: 6px;
    margin-top:15px;
    flex-direction: column;
}

.icone_aviao{
    width:32px;
    height:32px;
}

.texto_cidade_ida_e_volta{
    font-size:24px;
}

.texto_descricao_ida_volta_adulto{
    font-size:14px;
    color:#72777f;
}

.container_companhia_informacoes{
    display:flex;
    justify-content: space-between;
    padding-right:20px;
    padding-top:20px;
}

.container_icone_companhia_nome{
    display:flex;
    align-items: center;
    gap:15px;
}

.icone_companhia{
    width:25px;
    height:25px;
}

.icone_informacoes{
    width:25px;
    height:25px;
    cursor:pointer;
}

.container_horario_voo_ida{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top:20px;
}

.texto_codigo_voo{
    font-size:12px;
    color:#323439;
}

.texto_horario_voo{
    font-size:20px;
    color:#323439;
}

.texto_direto{
    color:#028574;
    border-bottom:1px solid #028574;
    padding-right:13px;
    padding-left:13px;
    padding-bottom:5px;
    font-size:13px;
}

.texto_duracao{
    font-size:14px;
    color:#72777f;
}

.texto_tempo_duracao_voo{
    font-size:14px;
    color:#323439;
}

.container_imagem_bagagens{
    display:flex;
    padding-top:20px;
}

.container_detalhes_ida{
    padding-bottom:20px;
    border-bottom:1px solid #d6d4d4;
}

.container_detalhes_volta{
    padding-top:20px;
}

.titulo_politicas{
    font-size:16px;
    color:#323439;
    font-weight: bold;
    border-bottom:1px solid #d6d4d4;
    padding-bottom:20px;
}

.container_imagem_alteracoes_texto{
    display:flex;
    align-items: center;
    gap:10px;
    font-size:14px;
    color:#028574;
}

.container_imagem_cancelamento_texto{
    display:flex;
    align-items: center;
    gap:10px;
    font-size:14px;
    
}

.icone_cancelamento{
    width:16px;
    height:16px;
}

.texto_cancelamento{
    font-size:12px;
    color: #72777f;
}

.texto_politicas{
    color:#4300d2;
    font-size:14px;
    cursor:pointer;
}

.texto_politicas:hover{
    color:#270570;
}


.container_politicas_e_cancelamentos{
    display:flex;
    flex-direction: column;
    gap:10px;
    padding-top:20px;
}

.container_cancelamento{
    display:flex;
    flex-direction: column;
    gap:7px;
}

.titulo_alteracoes_cancelamento{
    font-size:14px;
    color:#323439;
}

.descricao_reembolsavel{
    font-size:14px;
    color:#323439;
}

.container_alteracoes_cancelamentos{
    display:flex;
    flex-direction: column;
    gap:7px;
    padding-top:10px;
}

.botao_ver_condicoes{
    padding:0 16px;
    height:36px;
    border-radius: 24px;
    color:white;
    border:1px solid white;
    background-color: #323439;
    margin-top:20px;
    cursor:pointer;
}

.botao_ver_condicoes:hover{
    color:#4300d2;
    background-color: white;
}


.card_politicas_alteracoes{
   background-color: #323439;
   margin-top:20px;
   border-radius: 6px;
   padding:20px;
}

.container_icone_titulo_politicas{
    display:flex;
    align-items: center;
    gap:15px;
    color:white;
}

.overlay{
position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: 200%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  
  justify-content: center;
  z-index: 999;
}

.modal{
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  max-width: 650px;
  width: 90%;
  max-height: 35vh; 
  margin-top:100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  animation: aparecer 0.3s ease;
  overflow-y: auto;
}

.card_modal{
    display:flex;
    border-radius: 6px;
    flex-direction: column;
    gap:15px;
}

.container_botao_fechar{
    display:flex;
    justify-content: end;
}

.imagem_botao_fechar{
    width:24px;
    height:24px;
    cursor:pointer;
}

.botao_calcular_preco_modal_transfer{
    padding:0 16px;
    height:36px;
    background-color: #4300d2;
    border-radius: 24px;
    border:none;
    color:white;
    cursor:pointer;
}

.botao_calcular_preco_modal_transfer:hover{
    background-color: #270570;
}

.botao_nao_tenho_hospedagem_modal_transfer{
     padding:0 16px;
    height:36px;
    background-color: white;
    border-radius: 24px;
    border:none;
    color:#4300d2;
    cursor:pointer;
}

.botao_nao_tenho_hospedagem_modal_transfer:hover{
    background-color: #ebe5f5;
}

.container_botoes_hospedagem{
    display:flex;
    justify-content: end;
    gap:15px;
}

.imagem_aviao_hospedagem{
    width:20px;
    height:20px;
}

.container_aviao_hospedagem{
    display:flex;
    
}

.imagem_estrela_hospedagem{
    width:20px;
    height:20px;
}

.container_imagem_hospedagem{
    display:flex;
    
}

.container_hospedagem_modal{
    display:flex;
    flex-direction: column;
    gap:10px;
    
}


.container_aeroporto_hospedagem{
    display:flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    padding:20px;
}

.input_hospedagem{
    width:288px;
    padding:0px 40px 0px 16px;
    height:32px;
    border-radius: 6px;
    border:1px solid #d6d4d4;
    font-size:14px;
}
.container_texto_aeroporto_modal{
    display:flex;
    flex-direction: column;
    gap:10px;
}

.titulo_insira_hospedagem_modal{
    font-size:20px;
    color:#323439;
}

.titulo_aeroporto{
    font-size:12px;
}

.nome_aeroporto{
    font-size:14px;
}

.icone_informacoes_taxas{
    width:16px;
    height:16px;
    cursor:pointer;
    
}

.container_impostos_e_taxas_icone_informacoes{
    display:flex;
    align-items: center;
    gap:7px;
    position:relative;
}

.menu_hover {
  display: none;
  position: absolute;
  top: 120%; /* abaixo do ícone */
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  border-radius: 8px;
  min-width: 200px;
  z-index: 10;
}

.icone_informacoes_taxas:hover + .menu_hover {
  display: block;
}

.menu_hover_bagagem {
  display: none;
  position: absolute;
  bottom: 100%; /* abaixo do ícone */
  left: 35%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding-top:10px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  border-radius: 8px;
  width:290px;
  z-index: 10;
  
}

.container_imagem_bagagens{
    position:relative;
    cursor:pointer;
}
.container_imagem_bagagens:hover .menu_hover_bagagem{
    display:block
}

.container_imagem_bagagem_menu_hover_bagagem{
    display:flex;
    gap:15px;
    font-size:14px;
    border-bottom:1px solid #d6d4d4;
    padding-top:10px;
}

.texto_inclui_menu_hover_bagagem{
    color:#028574;
}

.descricao_texto_inclui_menu_hover_bagagem{
    color:#323439;
}

.texto_nao_inclui_menu_hover_bagagem{
    font-size:14px;
    color:#72777f;
}

.container_imagem_bagagem_menu_hover_bagagem_despacho{
    display:flex;
    gap:15px;
    font-size:14px;
    padding-top:10px;
}

.icone_erro{
    width:14px;
    height:14px;
}

.container_erro{
    display:flex;
    align-items: center;
    gap:8px;
    color:#cb4032;
    font-size:14px;
}

.container_select_erro{
    display:flex;
    flex-direction: column;
    gap:10px;
}